<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mascota Feliz</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon_huella.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon_huella.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Mascota Feliz</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="../../#intro">Inicio</a></li>
          <li><a href="../../#about">¿Quienes Somos?</a></li>
          <li><a href="../../#services">Servicios</a></li>
          <li><a href="../../reservacion/#portfolio">Reservación</a></li>
          <li><a href="../../#team">Equipo</a></li>
          <li><a href="../../#contact">Contacto</a></li>
          <li><a href="../../pregunta/#contact">¿Preguntas?</a></li>
          <li><a href="../../admin/">Login</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/gato.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Nosotros somos profesionales</h2>
                <p>Los animales no son propiedades o cosas, sino organismos vivientes, sujetos de una vida, que merecen nuestra compasión, respeto, amistad y apoyo.</p>
                <a href="../../#featured-services" class="btn-get-started scrollto">Empezar</a>
              </div>
            </div>
          </div>
 
          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/perro.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Nosotros somos profesionales</h2>
                <p>Los animales no son propiedades o cosas, sino organismos vivientes, sujetos de una vida, que merecen nuestra compasión, respeto, amistad y apoyo.</p>
                <a href="../../#featured-services" class="btn-get-started scrollto">Empezar</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/conejo.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Nosotros somos profesionales</h2>
                <p>Los animales no son propiedades o cosas, sino organismos vivientes, sujetos de una vida, que merecen nuestra compasión, respeto, amistad y apoyo.</p>
                <a href="../../#featured-services" class="btn-get-started scrollto">Empezar</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/ave.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Nosotros somos profesionales</h2>
                <p>Los animales no son propiedades o cosas, sino organismos vivientes, sujetos de una vida, que merecen nuestra compasión, respeto, amistad y apoyo.</p>
                <a href="../../#featured-services" class="btn-get-started scrollto">Empezar</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/mascota.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Nosotros somos profesionales</h2>
                <p>Los animales no son propiedades o cosas, sino organismos vivientes, sujetos de una vida, que merecen nuestra compasión, respeto, amistad y apoyo.</p>
                <a href="../../#featured-services" class="btn-get-started scrollto">Empezar</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  {% block content %}

  {% endblock %}

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Mascota Feliz</h3>
            <p>“La conmiseración con los animales está íntimamente ligada con la bondad de carácter, de tal suerte que se puede afirmar seguro que quien es cruel con los animales, no puede ser buena persona. Una compasión por todos los seres vivos es la prueba más firme y segura de la conducta moral”</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Enlaces Útiles</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="../../#intro">Inicio</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="../../#about">¿Quienes Somos?</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="../../#services">Servicios</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="../../politica-de-privacidad/#about">Política de Privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contáctanos</h4>
            <p>
              Urb. Chilemex <br>
              Calle Aruba, Ciudad Guayana 8050<br>
              Bolívar <br>
              <strong>Tel:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@mascotafeliz.com<br>
            </p>

            <div class="social-links">
              <a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://accounts.google.com/" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="https://www.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Horario de Apertura</h4>
            <p>7:00 AM - 10:00 PM <br>Lunes - Sábado <br><br> 10:00 AM - 6:00 PM <br> Domingo</p>
            <form action="" method="post">
              {% csrf_token %}
              <input type="email" id="email" name="correo" placeholder="Correo" required ><input type="submit"  value="Suscríbete" >
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Mascota Feliz</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
