{% extends "base.html" %}
{% load static %}
{% block content %}
<main id="main">
    <section id="about">
        <div class="container">
          <br>
          <header class="section-header">
            
            <h3>Política de Privacidad</h3>
            <p>Clínica Veterinaria Mascota Feliz  informa seguidamente de su política de privacidad aplicada a los datos personales. De esta manera, todos los datos personales que tenga bajo su responsabilidad serán tratados de acuerdo con la Ley de Protección de Datos de Carácter Personal y se guardarán las debidas medidas de seguridad y confidencialidad de los mismos.<br><br>

                La visita del sitio web no implica que el usuario deba suministrar ninguna información alguna respecto a su identidad, siendo totalmente anónima y, en ningún caso, puede ser asociada a un usuario concreto e identificado. En el supuesto que se suministre datos de carácter de personal, estos datos serán recogidos y utilizados conforme a las limitaciones y los derechos recogidos en la citada norma de protección de datos.<br><br>
                
                Los usuarios que faciliten datos de carácter personal consienten de forma clara, exacta e inequívoca las presentes condiciones.</p>
          </header>
            <div>
              <h2 class="title" style="color:limegreen;">1. Recogida de datos</h2>
              <p>
                La recogida de datos de carácter personal se realizará única y exclusivamente a través de los formularios publicados en la web y de los correos electrónicos que los usuarios puedan remitir a­­­­­­­­­­­­­­­­­ nombre de la empresa que serán incluidos en un fichero automatizado.<br><br>

                Los ficheros titularidad de nombre de la empresa figuran inscritos en el Registro General de la Agencia de Protección de Datos, al que podrá acceder el usuario o visitante para comprobar la situación de aquellos.<br><br>

                Clínica Veterinaria Mascota Feliz conservará sus datos una vez finalizada la relación con el usuario para cumplir las obligaciones legales necesarias. A su vez, procederá a la cancelación de los datos recogidos cuando dejen de ser necesarios para la finalidad para la que fueron recabados.
              </p>
            </div>
  
            <div>
              <h2 class="title" style="color:limegreen;">2. Seguridad de la información</h2>
              <p>
                Clínica Veterinaria Mascota Feliz ha desarrollado todos los sistemas y medidas técnicas y organizativas a su alcance, previstas en la normativa de protección de datos de carácter personal para evitar la pérdida, mal uso, alteración, acceso no autorizado y sustracción de los datos de carácter personal facilitados por el usuario o visitante.<br><br>

                No obstante, el usuario o visitante debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.
              </p>
            </div>
  
            <div>
              <h2 class="title" style="color:limegreen;">3. Confidencialidad y Secreto profesional</h2>
              <p>
                Las comunicaciones privadas que pudieran darse entre el personal de nombre de la empresa y los usuarios o visitantes serán consideradas como confidenciales. El acceso a esta información está restringido mediante herramientas tecnológicas y mediante estrictos controles internos.
              </p>
            </div>
            <div>
                <h2 class="title" style="color:limegreen;">4. Enlaces con otros sitios web</h2>
                <p>
                    El presente sitio web puede contener enlaces o links con otros sitios. Se informa que Clínica Veterinaria Mascota Feliz no dispone de control alguno ni ostenta responsabilidad alguna sobre las políticas o medidas de protección de datos de otros sitios web.
                </p>
            </div>
            <div>
                <h2 class="title" style="color:limegreen;">5. Derechos de los usuarios</h2>
                <p> 
                    El usuario podrá ejercitar, respecto a los datos recabados en la forma prevista, los derechos reconocidos por la Ley Orgánica de Protección de Datos de Carácter Personal y en particular los derechos de acceso, rectificación o cancelación de datos y oposición, si resultase pertinente, así como el de revocación del consentimiento para la cesión de sus datos.<br><br>

                    Los derechos de cancelación, oposición y revocación del consentimiento para la cesión podrán ser ejercitados por el usuario, y en su caso quien lo represente, mediante petición escrita dirigida a la siguiente dirección de correo electrónico: info@mascotafeliz.com. También podrá hacerlo mediante solicitud remitida por correo ordinario, firmada y acompañada de fotocopia del D.N.I., a la dirección de Clínica Veterinaria Mascota Feliz, sita en la dirección de la empresa: Urb. Chilemex, Calle Aruba, Ciudad Guayana 8050, Bolívar<br><br>

                    Clínica Veterinaria Mascota Feliz informa que los datos personales recabados, cuando hayan dejado de ser necesarios o pertinentes para la finalidad para la cual fueron recogidos, serán cancelados conforme establece la normativa de protección de datos de carácter personal.
                </p>
            </div>
            <div>
                <h2 class="title" style="color:limegreen;">CLÁUSULA PARA FORMULARIOS</h2>
                <p>
                    
                    En el caso de que Clínica Veterinaria Mascota Feliz disponga de formularios, la identificación del usuario es plena, ya que es el propio usuario el que, voluntariamente, introduce sus datos en nuestros formularios.<br><br>

                    La información facilitada por el usuario será utilizada Clínica Veterinaria Mascota Feliz exclusivamente para las finalidades que se informen en cada caso. Cada uno de nuestros formularios incluye una cláusula específica de privacidad mediante la cual el usuario dará voluntariamente su consentimiento al tratamiento automatizado de los datos facilitados.<br><br>

                    Clínica Veterinaria Mascota Feliz será la entidad responsable del fichero generado con los datos de carácter personal suministrados por los usuarios de su sitio web en los formularios.<br><br>

                    De acuerdo con la ley Orgánica de Protección de Datos de Carácter Personal, nombre de la empresa se compromete al cumplimiento de su obligación de secreto con respecto a los datos de carácter personal y al deber de tratarlos con confidencialidad. A estos efectos, adoptará las medidas necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado.<br><br>

                    Los datos personales recabados no serán cedidos a terceros sin su consentimiento expreso.<br><br>

                    Dichos datos podrán ser utilizados con la finalidad de atender sus consultas y enviarle información relacionada con la entidad que pudiera ser de su interés.<br><br>

                    El usuario que figure en nuestras bases de datos podrá  ejercitar en todo momento sus derechos de acceso, rectificación, cancelación y oposición, mediante solicitud remitida por correo ordinario, firmada y acompañada de fotocopia del D.N.I., a la dirección de Clínica Veterinaria Mascota Feliz, Urb. Chilemex, Calle Aruba, Ciudad Guayana 8050, Bolívar<br><br>

                    Si desea aclarar algún aspecto relacionado con la política de Clínica Veterinaria Mascota Feliz, en relación a los usuarios que visitan nuestra web, no dude en ponerse en contacto con nosotros a través de la siguiente dirección de correo electrónico: info@mascotafeliz.com
                </p>
            </div>
        </div>
    </section>
</main>
{% endblock %}